<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SVG to PNG</title>
  <meta property="og:site_name" content="armagan.rest" />
  <meta property="theme-color" content="#FF5252" />
  <meta property="og:title" content="SVG to PNG" />
  <meta property="og:description" content="You can easily convert SVG vectors to PNG images now!" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
  <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default-dark.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <md-app md-mode="fixed" class="default-dark xsmall small medium">
      <md-app-toolbar class="md-accent">
        <span class="md-title">SVG to PNG</span>
        <div class="md-toolbar-section-end">
          <a href="https://github.com/thearmagan/svg-to-png">
            <md-button>
              Github
            </md-button>
          </a>
        </div>
      </md-app-toolbar>
      <md-app-content>        
        <div class="md-layout md-gutter">
          <div class="md-layout-item md-xsmall-size-100 md-small-size-25 md-medium-size-25 md-large-size-25 md-xlarge-size-25 flex-center">
            <md-field>
              <md-select v-model="inType" value="file">
                <md-option value="file">From FILE</md-option>
                <md-option value="url">From URL</md-option>
              </md-select>
            </md-field>
          </div>
          <div class="md-layout-item md-xsmall-size-100 flex-center">
            <md-field v-show="inType == 'file'">
              <label>Select SVG File</label>
              <md-file ref="file" v-model="inFile" accept="image/svg+xml" />
            </md-field>
            <md-field v-show="inType == 'url'">
              <md-icon>link</md-icon>
              <label>SVG File URL</label>
              <md-input type="url" v-model="inURL"></md-input>
            </md-field>
          </div>
        </div>
        <div class="md-layout md-gutter">
          <div class="md-layout-item md-xsmall-size-100 flex-center">
            <md-field>
              <label>Width</label>
              <md-input v-model="customWidth" type="number" :disabled="!svgURL"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-xsmall-size-100 flex-center">
            <md-field>
              <label>Height</label>
              <md-input v-model="customHeight" type="number" :disabled="!svgURL"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-xsmall-size-100 flex-center">
            <md-button class="md-raised md-accent" :disabled="!svgURL" @click="generateAndDownload">Download</md-button>
          </div>
        </div>
      </md-app-content>
    </md-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-material"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
  <script src="./script.js"></script>
</body>
</html>