* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

html, body {
  width: 100%;
  height: 100%;
  contain: content;
}

#app {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.md-field>.md-icon:after {
  all: unset;
}

#app > div > main > div.md-app-scroller.md-layout-column.md-flex.md-theme-default.md-scrollbar > div {
  overflow-x: hidden;
}